@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Lato;
}
.flower_container {
  width: 1360;
  height: 850px;
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flower_content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 40px;
}
.flower_content h1 {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 60px;
  font-weight: 600;
  line-height: 76px;
  letter-spacing: 0%;
  text-align: left;
  margin: 10px;
}
.flower_content p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  margin: 10px;
}
.flower_content span {
  width: 150px;
  height: 60px;
  border-radius: 8px;
  color: white;
  background: rgb(229, 84, 115);
  padding: 20px 35px;
  margin: 10px;
  margin-right: 670px;
  font-weight: 400;
}
.image_content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}
.image_content img {
  width: 535px;
  height: 600px;
}
